:root {
    --Green_500: hsl(171, 66%, 44%);
    --Blue_100: hsl(233, 100%, 69%);
    --Gray_700: hsl(210, 10%, 33%);
    --Gray_500: hsl(201, 11%, 66%);

}

body {
    width: 100%;
    margin: 0;
    font-family: "Bai Jamjuree", sans-serif;

}

header {
    height: 725px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    height: 125px;
    width: 100%;
    background-color: rgb(241, 240, 240)
}


.header_image {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url("images/bg-header-desktop.png");
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
}

.image-devices {
    width: 700px;
    margin-top: 70px;
}

.logo {
    width: 100px;
    margin-top: 120px;
}

.logo_2 {
    width: 70px;

}

.text_header_1 {
    font-size: 35px; 
    font-weight: 600; 
    margin-top: 40px;
    color: var(--Gray_700);
}

.text_header_2 {
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: var(--Gray_500);
    max-width: 590px;
}

.text_header_3, .text_main_1 {
    font-size: 25px; 
    font-weight: 600; 
    margin-top: 100px;
    color: var(--Gray_700);
}

.text_header_4, .text_main_2 {
    
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: var(--Gray_500);
    max-width: 590px;
    
}

.text_main_3 {
    font-size: 25px; 
    font-weight: 600; 
    margin-top: 100px;
    color: var(--Gray_700);
    
}

.text_main_4 {
    font-size: 25px; 
    font-weight: 600; 
    margin-top: 100px;
    color: var(--Gray_700);
}

.text_main_5 {
    margin-top: 15px;
    text-align: center;
    font-size: 17px;
    color: var(--Gray_500);
    max-width:650px;
    
}



.small_text_element {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    color: var(--Gray_500);
    max-width: 300px;

}

.big_text_element {
    font-size: 20px; 
    font-weight: 600; 
    margin-top: 20px;
    color: var(--Gray_700);
 }

.download_ios, .download_Mac {
    margin-top: 30px;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    font-size: 17px;
    font-weight: 400;
    color: white;
    background-color: var(--Green_500);
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.3);
}

 .download_Mac {
    background-color: var(--Blue_100);
    margin-left: 10px;
 }

 .download_ios:hover, .download_Mac:hover {
    opacity: 75%;
 }

 .image-computer {
    height: 500px;
    margin-left: -50px ;
 }

 .box_1 {
    display: flex;
 }

 .box_2 {
    display: flex;
    margin-top: 100px;
    gap: 30px;
 }

.container_text {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 70px;
    gap: 30px;
}

 .container_text_1 {
    display: flex;
    flex-direction: column;
 }

 .style_main_text_container {
    font-size: 20px;
    color: var(--Gray_700);
    font-weight: 600;

 }

 .style_additional_text_container {
    margin-top: 10px;
    font-size: 17px;
    max-width: 350px ;
    color: var(--Gray_500);
 }

 .element_1 {

    display: flex;
    flex-direction: column;
    align-items: center;
 }

 .icon-blacklist {
    width: 50px;
    height: 50px;
 }

 .icon-blacklist_eyes {
    width: 70px;
    height: 50px;
 }

 .icons {
    display: flex;
    margin-top: 100px;
    gap: 50px;
    align-items: center;
 }

 .icon {
    width: 140px;
    height: auto;

 }

 .footer_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
 }

 .footer_link_line {
    display: flex;
    margin-left: 100px;
    gap: 50px;
 }

 .link {
    text-decoration: none;
    color: var(--Gray_700);
    font-size: 15px;
    font-weight: 600;
    width: 125px;
    transition: all 0.3s ease;
 }

 .link:hover {
    color: var(--Green_500);
 }

 .icon_link {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
    margin-left: 50px;
 }

 .tg {
    width: 30px;
    fill: var(--Gray_700);
    transition: all 0.3s ease;
}

.instagram {
    width: 20px;
    fill: var(--Gray_700);
    transition: all 0.3s ease;
}

.twitter {
    width: 20px;
    fill: var(--Gray_700);
    transition: all 0.3s ease;
    margin-left: 5px;
}

.tg:hover, .instagram:hover, .twitter:hover {
    fill: var(--Green_500);
}